bin/
obj/
API/ABetterWatchLaterAPI/bin/Debug/netcoreapp3.1/ABetterWatchLaterAPI.dll
API/ABetterWatchLaterAPI/bin/Debug/netcoreapp3.1/ABetterWatchLaterAPI.pdb
API/ABetterWatchLaterAPI/obj/Debug/netcoreapp3.1/ABetterWatchLaterAPI.csproj.CoreCompileInputs.cache
API/ABetterWatchLaterAPI/obj/Debug/netcoreapp3.1/ABetterWatchLaterAPI.csproj.FileListAbsolute.txt
API/ABetterWatchLaterAPI/obj/Debug/netcoreapp3.1/ABetterWatchLaterAPI.csprojAssemblyReference.cache
API/ABetterWatchLaterAPI/obj/Debug/netcoreapp3.1/ABetterWatchLaterAPI.dll
API/ABetterWatchLaterAPI/obj/Debug/netcoreapp3.1/ABetterWatchLaterAPI.pdb
API/.DS_Store
API/ABetterWatchLaterAPI/Secret.cs
API/ABetterWatchLaterAPI/bin/Debug/netcoreapp3.1/ABetterWatchLaterAPI.deps.json
API/ABetterWatchLaterAPI/bin/Debug/netcoreapp3.1/ABetterWatchLaterAPI.dll
API/ABetterWatchLaterAPI/bin/Debug/netcoreapp3.1/ABetterWatchLaterAPI.pdb
API/ABetterWatchLaterAPI/bin/Debug/netcoreapp3.1/ABetterWatchLaterAPI.runtimeconfig.dev.json
API/ABetterWatchLaterAPI/bin/Debug/netcoreapp3.1/ABetterWatchLaterAPI.runtimeconfig.json
API/ABetterWatchLaterAPI/bin/Debug/netcoreapp3.1/appsettings.Development.json
API/ABetterWatchLaterAPI/bin/Debug/netcoreapp3.1/appsettings.json
API/ABetterWatchLaterAPI/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
API/ABetterWatchLaterAPI/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
API/ABetterWatchLaterAPI/obj/Debug/netcoreapp3.1/ABetterWatchLaterAPI.AssemblyInfo.cs
API/ABetterWatchLaterAPI/obj/Debug/netcoreapp3.1/ABetterWatchLaterAPI.AssemblyInfoInputs.cache
API/ABetterWatchLaterAPI/obj/Debug/netcoreapp3.1/ABetterWatchLaterAPI.assets.cache
API/ABetterWatchLaterAPI/obj/Debug/netcoreapp3.1/ABetterWatchLaterAPI.csproj.CoreCompileInputs.cache
API/ABetterWatchLaterAPI/obj/Debug/netcoreapp3.1/ABetterWatchLaterAPI.csproj.FileListAbsolute.txt
API/ABetterWatchLaterAPI/obj/Debug/netcoreapp3.1/ABetterWatchLaterAPI.csprojAssemblyReference.cache
API/ABetterWatchLaterAPI/obj/Debug/netcoreapp3.1/ABetterWatchLaterAPI.dll
API/ABetterWatchLaterAPI/obj/Debug/netcoreapp3.1/ABetterWatchLaterAPI.genruntimeconfig.cache
API/ABetterWatchLaterAPI/obj/Debug/netcoreapp3.1/ABetterWatchLaterAPI.MvcApplicationPartsAssemblyInfo.cache
API/ABetterWatchLaterAPI/obj/Debug/netcoreapp3.1/ABetterWatchLaterAPI.pdb
API/ABetterWatchLaterAPI/obj/Debug/netcoreapp3.1/ABetterWatchLaterAPI.RazorTargetAssemblyInfo.cache
API/ABetterWatchLaterAPI/obj/Debug/netcoreapp3.1/staticwebassets/ABetterWatchLaterAPI.StaticWebAssets.Manifest.cache
API/ABetterWatchLaterAPI/obj/Debug/netcoreapp3.1/staticwebassets/ABetterWatchLaterAPI.StaticWebAssets.xml
API/ABetterWatchLaterAPI/obj/Debug/netcoreapp3.1/ABetterWatchLaterAPI.assets.cache
API/ABetterWatchLaterAPI/obj/Debug/netcoreapp3.1/ABetterWatchLaterAPI.csproj.FileListAbsolute.txt
